body {
	background-color: #99cc99; /* light green background */
	color: #333; /* dark text color */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* updated font */
}

header {
	background-color: #333;
	padding: 20px;
}

h1 {
	margin: 0;
	color: white;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* updated font */
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}

nav a:hover {
	color: #ccc;
}

main {
	padding: 20px;
}

section {
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* updated font */
}

p {
	line-height: 1.5;
	font-size: 16px;
	font-family: Tahoma, Geneva, Verdana, sans-serif; /* updated font */
}

footer {
	background-color: #333;
	padding: 10px;
	text-align: center;
	color: #ccc;
	font-size: 14px;
	font-family: Tahoma, Geneva, Verdana, sans-serif; /* updated font */
}
